@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

.footer {
    background-color: #0a3977;
    color: #fff;
    padding: 1.5rem 2rem;
    text-align: center;
    font-family: "Noto Sans Thai", sans-serif;
    margin-top: auto;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .footer-links a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #fff;
  }
  